---
import StoryLayout from '../../layouts/StoryLayout.astro';
export const frontmatter = { title: "Test Post", date: "2025-06-21" };
const pageTitle = "An Unknown Signal";
---

<StoryLayout frontmatter={frontmatter} pageTitle={pageTitle}>
<h2>
Date: <br>
Configure all three modules to begin narrative generation
</h2>
















</StoryLayout>