html {
  background-color: #dddddd;
  font-family: monospace;
}


.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;  
  margin: 0 auto;
  padding: 2rem;
}

.blog-card {

  background: #fff;
  border: 1px solid #ccc;
  max-width: 50ch;
  padding: 1rem;
  transition: transform 0.2s ease;
  margin-bottom: 0.2rem;  

}

.blog-card:hover {
  transform: scale(1.08);
}

.blog-card h3 {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}

.blog-card a {
  text-decoration: none;
}



body {
  margin: 12px;
  max-width: 360ch;
  padding: 1rem;
  box-sizing: border-box;
  line-height: 1.5;
  color:rgb(0, 0, 0);
  text-align: center;
}

* {
  box-sizing: border-box;
}


h1 {

font-size: 1.5em;
background-color:rgb(240, 240, 240);
margin: auto;
margin-bottom: 2rem;
margin-top: 2rem;
text-align: center;
max-width: 53ch;
}

h2 {
font-size: 1em;
background-color:rgb(240, 240, 240);
text-align: centre;
margin: auto;
}

p {
background-color:rgb(240, 240, 240);

}

.inputbutton{
  display:flex;
  justify-content:center;
  align-items:center;
}




article h1, article h2, article p, article blockquote {
  margin-bottom: 0.2rem;
  margin-top: 0rem;
  line-height: 1.5;
  background-color:rgb(240, 240, 240);
  max-width: 100ch;
  padding: 0.2rem;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "verdana", sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

article p {
font-size: 0.7em;
}

article blockquote {
  font-size: 0.95em;
  max-width: 32ch;
}








h3 {
font-size: 1.4em;
background-color:rgb(240, 240, 240);
text-align: left;
margin: auto;
max-width: 80ch;
padding: 1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}


.howtoimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 500px;
  height: 560px;
}





/* nav styles */



.nav-links {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  width: auto;
  background: none;
}



.nav-links a {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.headerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.authorimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 210px;
  height: 105px;
}






/* WIDESCREEN*/
@media screen and (min-width: 636px) {



.blog-card {
  background: #fff;
  border: 1px solid #ccc;
  padding: 1.5rem;
  transition: transform 0.2s ease;
  width: 100%;      
  max-width: 100%;
}




article h1, article h2, article p, article blockquote {
  margin-bottom: 0.2rem;
  margin-top: 0rem;
  line-height: 1.5;
  background-color:rgb(240, 240, 240);
  max-width: 100ch;
  padding: 0.2rem;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "verdana", sans-serif;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

article p {
font-size: 1em;
}

article blockquote {
  font-size: 0.95em;
  max-width: 70ch;
}







  .nav-links a {
  display: inline-block;
  padding: 15px 20px; 
  }

  .headerimage {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
  }

  h2 {

  font-size: 1.5em;

  }

  h1 {
  text-align: center;
  font-size: 2em;

  }

  .inputbutton{
  display:flex;
  justify-content:left;
  align-items:left;
  }





}








.button {
      background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    border-style: outset;
    border-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-color: rgb(190, 190, 190);
    text-decoration: none;
    font-weight: 20;
}






#footer-content {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.footer.collapsed #footer-content {
  max-height: 0;
  opacity: 0;
  padding: 0;
}









.type {
  
  text-align: left;
  max-width: 40ch;
  font-family: monospace;
  font-weight: 500;
  color:#0000;
  background:
    linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
    linear-gradient(#000000 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.055s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}


.typeloading {
 text-align: left;
  max-width: 40ch;
  font-family: monospace;
  font-weight: 500;
  color:#0000;
  background:
    linear-gradient(-90deg,#000000 5px,#0000 0) 10px 0,
    linear-gradient(#000000 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.15s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

