---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "CONFIGURATION";

---
<BaseLayout pageTitle={pageTitle}>
<html lang="en">


    <h2>How to access and generate the stories:</h2>
<br>
<img src="/graphics/howto.png" class="howtoimage" >
    

    
   

</body>



</html>
</BaseLayout>