---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/Blogpost.astro';

// Load all post components with metadata from frontmatter
const allPostImports = import.meta.glob('../pages/blog/posts/*.astro', { eager: true });



const allPosts = Object.entries(allPostImports).map(([path, mod]) => {
  const url = path
    .replace('../pages', '')
    .replace('.astro', '')
    .replace('/index', '/'); 

  return {
    url,
    title: mod.frontmatter?.title || 'Untitled',
  };
});

const pageTitle = "Transmissions_Manifest";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Access All Narrative Data Streams:</p>
  <ul>
    {allPosts.map(post => (
     <BlogPost url={post.url} title={post.title} />
    ))}
  </ul>
</BaseLayout>
