---
---
<div class="nav-links">
   <img src="src/graphics/animated-satellite-image-0016.gif" 
   width="70" 
   height="70">
  <a href="/">Downlink_Dashboard</a>
  <a href="/about">Configuration</a>
  <a href="/blog">Transmissions</a>
     <img src="src/graphics/animated-satellite-image-0016.gif" 
   width="70" 
   height="70">
</div>

<style>
  a {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    border-style: outset;
    border-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-color: rgb(190, 190, 190);
    text-decoration: none;
    font-weight: 20;
  }
</style>